<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/new-product-style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Cargar nuevo producto</title>
</head>

<body>
    <%- include('./partials/header.ejs')  %>
<div>
    <div >
        <div >
            <h2 style="color: white;" >Estás editando el producto: <i><%= productToEdit.name %></i></h2>
        </div>
    </div>
    <div >
        <form action="/products/<%= productToEdit.id %>?_method=PUT" method="post" class="form-product">
            <img src="/images/products/<%= productToEdit.image %>" alt="product image">
            <div>
                <div>
                    <label for="color">Color:</label>
                    <input class="textarea" type="text" id="color" name="color" value="<%= productToEdit.color %>">
                </div>
                <div>
                    <label for="material">Material:</label>
                    <select name="material" id="material">
                        <option value="material1">material1</option>
                        <option value="material2">material2</option>
                        <option value="material3">material3</option>
                        <option value="material4">material4</option>
                        <option value="material5">material5</option>
                    </select>
                </div>
                <div>
                    <label for="size">Tamaño:</label>
                    <select name="size" id="size">
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                </div>
                <div>
                    <label for="price">Precio del producto:</label>
                    <input type="text" id="price" name="price" value="<%= productToEdit.price %>">
                </div>
                <div>
                    <label for="image">Nueva imagen:</label>
                    <input type="file" value="<%= productToEdit.image %>" id="image">
                </div>
                <div>
                    <label for="description">Descipción:</label>
                    <textarea name="description" id="description"><%= productToEdit.description %></textarea>
                </div>
                <div>
                    <button type="submit" class="buy-now-button">Guardar producto</button>
                </div>
            </div>
        </form>
    </div>

</div>


<!--ACA EMPIEZA LA PARTE VIEJA-->
    <main>
        <form action="/" class="form-product">
            <label for="nombre">Nombre del producto</label>
            <input type="text" required>
            <label for="descripcion-principal">Descripcion principal</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="descripcion-secundaria">Descripcion secundaria</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="imagenes">Imagenes</label>
            <input type="file"> 
            <!-- AGREGAR CANTIDAD DE ARCHIVOS -->
            <!-- EDITAR OPCIONES  -->
            <label for="dimensiones">Categoria</label>
                <select name="dimensiones" id="dimensiones">
                    <option value="Categoria1">Categoria1</option>
                    <option value="Categoria2">Categoria2</option>
                    <option value="Categoria3">Categoria3</option>
                    <option value="Categoria4">Categoria4</option>
                </select>
            <label for="cantidad">Color</label>
                <select name="cantidad" id="cantidad">
                    <option value="negro">Negro</option>
                    <option value="blanco">Blanco</option>
                    <option value="azul">Azul</option>
                </select>
            <label for="precio">Precio de venta</label>
            <input type= "number">
            <div class="buttons-form">
                <button type="submit" class="button-form">Enviar</button>
            
                <button type="reset" class="button-form">Deshacer</button>
            </div>
            
        </form>



    </main>

    <%- include('./partials/footer')  %>
</body>
</html>