<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="css/productos.css">
    <link rel="stylesheet" href="css/plasticos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>
<body>
    <!--   agregar el header -->
    <%- include('./partials/header.ejs')  %>

<div >
        <h1>LISTADO DE PRODUCTOS</h1>
            <% for( let i = 0; i < products.length; i++ ) { %>
            
        <article  class="plasticos_articulo"  >
            <a href="/product/<%= products[i].id %>"><%= products[i].name %></a>

            <img class="plasticos_imagen" src="/images/productos/<%= products[i].photo1 %>" alt="<%= products[i].name %><%= products[i].name %>">
            <div    class="contenido_plasticos">
            <p>/product/<%= products[i].id %></p>
            <p>/product/<%= products[i].price %></p>
            </div>

            <div    class="caja_plasticos">
              <p>facilidad de impresión, baja deformación durante el proceso y su adecuada resistencia mecánica. El PLA es ideal para proyectos domésticos y educativos, pero sufre de menor resistencia al calor en comparación con otros materiales.</p>
                    </div>
        </article>
     <% } %>
        <ul>
            <a href="/new-product"  id="CrearProducto">Crear nuevo producto</a>
        </ul>
</div>
    <%- include('./partials/footer')  %>
</body>
</html>