<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productCartStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Carrito de compra</title>
</head>
<body>
  <%- include('./partials/header.ejs')  %>
<main>
        <h1 class="titular">Productos en tu carrito:</h1>
        <div class="lista_productos" >

            <div class="productos-en-carrito">
                <% if (typeof cart !== 'undefined' && cart.length > 0) { %>
                    <% cart.forEach(product => { %>
                        <div class="producto-en-carrito producto">
                  <a href="/product/<%= product.id %>">    <img class="carrusel" src="/images/productos/<%= product.photo %>" alt="img-2"></a>
                     <div   class="especificaciones"> 
                           <h3 class="titular_producto"><%= product.name %></h3>
                            <p>Precio: $<%= product.price %></p>
                            <form method="POST" action="/product/<%= product.id %>/remove-from-cart?_method=DELETE" id="deleteForm_<%= product.id %>">
                                <button type="submit" class="trash"><i class="fas fa-trash"></i></button>
                                <input type="hidden" name="id" value="<%= product.id %>">
                            </form>
                            <select class="select" name="dimensiones">
                                <option value="s" <%= product.size === 's' ? 'selected' : '' %>>Small</option>
                                <option value="m" <%= product.size === 'm' ? 'selected' : '' %>>Medium</option>
                                <option value="l" <%= product.size === 'l' ? 'selected' : '' %>>Large</option>
                                <option value="xl" <%= product.size === 'xl' ? 'selected' : '' %>>XLarge</option>
                            </select>


                            <select class="select" name="cantidad">
                                <% for (var i = 1; i <= 5; i++) { %>
                                    <option value="<%= i %>" <%= product.quantity === i ? 'selected' : '' %>><%= i %></option>
                                <% } %>
                            </select>
                    

                            <select class="select" name="models">
                                <option value="1" <%= product.color === '1' ? 'selected' : '' %>>1</option>
                                <option value="2" <%= product.color === '2' ? 'selected' : '' %>>2</option>
                                <option value="3" <%= product.color === '3' ? 'selected' : '' %>>3</option>
                                <option value="4" <%= product.color === '4' ? 'selected' : '' %>>4</option>
                            </select>
                        </div></div>
                    <% }); %>
                <% } else { %>
                    <p>Tu carrito está vacío.</p>
                <% } %>
            </div>
        </div>
            <div    class="botones_compra">
                <a href="/product" ><button class="boton">Seguir comprando</button></a>
                        <button class="boton">Actualizar compra </button>
            </div>

      
        <div class="carro">
            <h1 class="total">Total:</h1>
            <div class="item">
                <span>Subtotal:</span>
                <span class="precio">$100.00</span>
            </div>
            <div class="item">
                <span>Envío:</span>
                <span class="precio">$10.00</span>
            </div>
            <div class="item total">
                <span>Total:</span>
                <span class="precio">$110.00</span>
            </div>
            <button class="finalizar">Finalizar compra</button>
        </div>
        <%- include('./partials/footer')  %>

      </main>
   
    
    <!-- <footer>
        <img class="logo_footer" src="images/logo.png" alt="Logo">
    </footer> -->
</body>
</html>