<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="css/productos.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>
<body>
    <%- include('./partials/header.ejs')  %>
<div >
    <div>
        <% locals.products && products.forEach(product => { %>
            <div >
                <section >
                    <a href="/product/<%= product.id %>">
                        <figure >
                            <img src="/images/products/<%= product.image %>" alt="<%= product.image %>">
                        </figure>
                        <article >
                            <h2><%= product.price %></h2>
                            <p><%=  product.name %></p>
                        </article>
                    </a>
                </section>
            </div>
            <% }) %>
    </div>
</div>
    <%- include('./partials/footer')  %>
</body>
</html>