<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css"> <!-- style css -->
    <link rel="stylesheet" href="css/productos.css"> <!-- productos -->
    <link rel="stylesheet" href="css/plasticos.css"> <!-- plasticos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>
<body>
    <!--   agregar el header -->
    <%- include('./partials/header.ejs')  %>

<div >
        
                <h1        class="titulo_producto"> PRODUCTOS DISPONIBLES</h1>

            <% for( let i = 0; i < products.length; i++ ) { %>
            
        <article  class="plasticos_articulo"  >
            <a href="/product/<%= products[i].id %>"><%= products[i].name %>
            
                <img class="plasticos_imagen" src="/images/productos/<%= products[i].photo1 %>" alt="<%= products[i].name %><%= products[i].name %>">

            </a>
            <div    class="contenido_plasticos">
                <p>Producto N°: <%= products[i].id %></p>
                <p>Precio: $<%= products[i].price %></p>
                <% if (locals.user){%>
                    <form action="/product/<%= products[i].id %>/delete?_method=DELETE" method="POST">
                    
                        <button type="submit" id="delete">Eliminar este producto</button>
                    </form>
                <%}%>
            </div>

            
        </article>
     <% } %>

     <% if (locals.user){%>
        <article  class="plasticos_articulo"  >
            <a href="/product/new-product" id="CrearProducto">
                <p>  </p>
                <img class="plasticos_imagen" src="../images/new-product.png" alt="new-product.png">
                <p>Crear Nuevo Producto</p>
            </a>
        </article>
    <%}%>
        
    <%- include('./partials/footer')  %>

    <script src="script/products.js"></script>
</body>
</html>