<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>
<body>
    <div class="background-container">
            <%- include('./fondo.ejs')  %>
    </div>


    <main>

        <div id="registration-container">
            <h2>Tu perfil <%= locals.user.name + " " + locals.user.lastname%></h2>

            
                <label for="name">Nombre:</label>
                <h1><%= locals.user.name %></h1>
                
                  <label for="lastname">Apellido:</label>
                  <h1><%= locals.user.lastname %></h1>

                
                <label for="email">Email:</label>
                <h1><%= locals.user.email %></h1>

                <a href="/user/edit"><button type="button">Editar tu perfil</button></a>

                <a href="/user/logout"><button type="button">Cerrar Sesion</button>

                <a href="/"><button type="button">Volver página principal</button></a>
        </div>
    </main>

</body>