<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register_form.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>

<body>
    <header>
        <img class="logo_header" src="images/logo.png" alt="Logo">
        <div>
            <i class="fas fa-search"></i> <!-- ICONO DE LUPA -->
            <input class="buscador" type="search" placeholder="Que desea buscar">
        </div>
        <div>
            <i class="fas fa-user-plus"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </header>




    <main>

        <div id="registration-container">
            <h2>Registro</h2>
            <form action="/user/register" method="post" enctype="multipart/form-data">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" >
                <% if(locals.errors?.nombre){ %>
                    <span class="form_input_alert"><%= locals.errors.nombre.msg %></span>
                  <% } %>
                
                  <label for="apellido">Apellido:</label>
                  <input type="text" id="apellido" name="apellido" >
                  <% if(locals.errors?.apellido){ %>
                      <span class="form_input_alert"><%= locals.errors.apellido.msg %></span>
                    <% } %>

                
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" >
                <% if(locals.errors?.email){ %>
                    <span class="form_input_alert"><%= locals.errors.email.msg %></span>
                  <% } %>

                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" >
                <% if(locals.errors?.contrasena){ %>
                    <span class="form_input_alert"><%= locals.errors.contrasena.msg %></span>
                  <% } %>

                <label for="avatar">Imagen de perfil:</label>
                <input type="file" id="avatar" name="avatar" >
                <% if(locals.errors?.avatar){ %>
                    <span class="form_input_alert"><%= locals.errors.avatar.msg %></span>
                  <% } %>

                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
    
    <footer>

        <div class="foter">
            <img class="logo_footer" src="images/logo.png" alt="Logo">

            <div class="redes_sociales">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="far fa-envelope"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
        </div>



        <div class="terminos">
            <a href="">Acerca</a>
            <a href="">Ayuda</a>
            <a href="">Terminos</a>
            <a href="">Privacidad</a>
        </div>

    </footer>
    
    
    

    <!-- <footer>
        <img class="logo_footer" src="images/logo.png" alt="Logo">
    </footer> -->
</body>

</html>