<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register_form.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>3D World</title>
</head>

<body>
    <div class="background-container">
        <%- include('./fondo.ejs')  %>
</div>


    <main>

        <div id="registration-container">
            <h2>Registro</h2>
            <div class="errores">
                <ul>

                </ul>
            </div>
            <form action="/user/register" method="post" enctype="multipart/form-data">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" class="name">
                <% if(locals.errors && locals.errors.name){ %>
                    <span style="color : red" class="form_input_alert"><%= locals.errors.name.msg %></span>
                  <% } %>
                
                  <label for="lastname">Apellido:</label>
                  <input type="text" id="lastname" name="lastname" class="lastName">
                  <% if(locals.errors && locals.errors.lastname){ %>
                      <span style="color : red" class="form_input_alert"><%= locals.errors.lastname.msg %></span>
                    <% } %>

                
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="email">
                <% if(locals.errors && locals.errors.email){ %>
                    <span style="color : red" class="form_input_alert"><%= locals.errors.email.msg %></span>
                  <% } %>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" class="password">
                <% if(locals.errors && locals.errors.password){ %>
                    <span style="color : red" class="form_input_alert"><%= locals.errors.password.msg %></span>
                  <% } %>
                  
                    <div>
                        <button type="submit">Enviar</button>
                        <a href="/"><button type="button">Volver página principal</button></a>
                       </div>


            </form>
        </div>
    </main>
    

    
    <script >
    window.addEventListener('load', function () {
        let formulario = document.querySelector('form')
    
        formulario.addEventListener('submit', function(e) {
    
            let errores = []
            let campoNombre = document.querySelector('input.name')
    
            if (campoNombre.value == '') {
                errores.push('El campo de nombre tiene que estar completo')
            } else if (campoNombre.value.length < 3) {
                errores.push('El campo de nombre debe tener al menos 3 caracteres')
            }
    
            let campoApellido = document.querySelector('input.lastName')
    
            if (campoApellido.value == '') {
                errores.push('El campo de apellido tiene que estar completo')
            }
    
            let campoEmail = document.querySelector('input.email')
            let emailValue = campoEmail.value.trim();

                if (emailValue === '') {
                 errores.push('El campo de email tiene que estar completo');
                } else if (!/^[\w.-]+@[\w.-]+\.[A-Za-z]{2,}$/.test(emailValue)) {
                errores.push('El correo electrónico debe tener un formato válido (ejemplo@dominio.com)');
            }
            let campoContraseña = document.querySelector('input.password')
            let contraseñaValue = campoContraseña.value.trim();

                if (campoContraseña.value == '') {
                errores.push('El campo de contraseña tiene que estar completo')
                }   else if (contraseñaValue.length < 8) {
                errores.push('La contraseña debe tener al menos 8 caracteres');
        }

            if (errores.length > 0) {
                e.preventDefault()
            let ulErrores = document.querySelector('div.errores ul')
            ulErrores.innerHTML = ''    
            for (let i = 0; i < errores.length; i++) {                
                    
                    ulErrores.innerHTML += '<li>' + errores[i] + '</li>'
                }
            }
        })
    })</script>

  
</body>

</html>